---
- name: Download Helm installation script
  get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: '0700'

- name: Install Helm
  command: /tmp/get_helm.sh
  args:
    creates: /usr/local/bin/helm

- name: Remove Helm installation script
  file:
    path: /tmp/get_helm.sh
    state: absent

- name: Verify Helm installation
  command: helm version
  changed_when: false