---
- name: Download kubectl
  get_url:
    url: "https://dl.k8s.io/release/{{ kubectl_version | default('v1.28.0') }}/bin/linux/amd64/kubectl"
    dest: /usr/local/bin/kubectl
    mode: '0755'
  register: kubectl_download

- name: Verify kubectl installation
  command: kubectl version --client
  changed_when: false