---
- name: Deploy NotesApp on Kubernetes
  hosts: localhost
  connection: local
  become: yes
  gather_facts: yes
  
  vars:
    ansible_user: "{{ lookup('env', 'USER') }}"
    minikube_user: "{{ ansible_user }}"
  
  pre_tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
  
  roles:
    - base
    - docker
    - kubectl
    - minikube
    - terraform
    - helm
    - metallb
    - ingress
    - deploy-app
  
  post_tasks:
    - name: Display application URL
      debug:
        msg: "Application is available at: http://notes.{{ ansible_default_ipv4.address }}.nip.io"